{{ partial "header.html" . }}
    <main role="main">
      <div class="container">
        <header>
          <h1>
            {{ .Title }}
          </h1>

          {{ if eq .Type "post"}}
            <div class="clearfix">
              <div class="header-date">
                {{ partial "date.html" . }}
              </div>

              <div class="header-tags">
                {{ partial "tags.html" . }}
              </div>
            </div>

            {{ if .Params.series }}
              <aside>
                {{ $name := index .Params.series 0 }}
                {{ $slug := $name | urlize }}
                <p>This is a post in the
                  <a href="{{ $.Site.BaseURL }}/series/{{ $slug }}" id="series">
                    <b>{{$name}}</b>
                  </a>
                  series.
                </p>
              </aside>
            {{ end }}
          </header>

          <hr/>
        {{ end }}

        <article>
          {{ .Content }}
        </article>

        {{ if .Params.series }}
          {{ partial "series.html" . }}
        {{ end }}

        {{ partial "tags.html" . }}
      </div>
    </main>
{{ partial "footer.html" . }}
