{{ partial "header.html" . }}
    <main role="main" >
      <div class="container">
        <h1>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>

        <article>
          {{ .Content }}
        </article>

        {{ if eq .Type "post"}}
          {{ partial "date.html" . }}
        {{ end }}

        {{ if .Params.series }}
          {{ partial "series.html" . }}
        {{ end }}

        {{ partial "tags.html" . }}
      </div><!-- container -->
    </main>
{{ partial "footer.html" . }}
